export(cleveland_shape_pal)
export(COLORS_SOLARIZED)
export(economist_colors)
export(economist_pal)
export(excel2003_pal)
export(geom_rangeframe)
export(scale_color_economist)
export(scale_color_excel2003)
export(scale_color_solarized)
export(scale_color_stata)
export(scale_colour_economist)
export(scale_colour_excel2003)
export(scale_colour_solarized)
export(scale_colour_stata)
export(scale_fill_economist)
export(scale_fill_excel2003)
export(scale_fill_solarized)
export(scale_fill_stata)
export(scale_linetype_stata)
export(scale_shape_cleveland)
export(scale_shape_stata)
export(solarized_pal)
export(stata_colors)
export(stata_linetype_pal)
export(stata_pal)
export(stata_shape_pal)
export(stata_symbols)
export(theme_economist)
export(theme_excel2003)
export(theme_solarized)
export(theme_stata)
export(theme_tufte)
