export(cleveland_shape_pal)
export(COLORS_SOLARIZED)
export(economist_colors)
export(economist_pal)
export(scale_color_economist)
export(scale_color_solarized)
export(scale_color_stata)
export(scale_colour_economist)
export(scale_colour_solarized)
export(scale_colour_stata)
export(scale_fill_economist)
export(scale_fill_solarized)
export(scale_fill_stata)
export(scale_shape_cleveland)
export(solarized_pal)
export(stata_colors)
export(stata_pal)
export(theme_economist)
export(theme_solarized)
export(theme_stata)
